* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  color: #474b4f;
}

img, embed, object, video {
  max-width: 100%;
  max-height: 100%;
}

/* VISUAL STYLES SECTION */
.text-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-logo {
  font-size: 24px;
}

.text-nav {
  font-size: 13px;
  text-align: right;
}

.text-hero {
  font-size: 50px;
  text-align: center;
  padding: 10px;
}

.text-hero-sub {
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  padding-bottom: 150px;
}

.text-section-header {
  font-size: 24px;
  padding: 20px;
}

.text-info-title {
  font-size: 20px;
  color: #4ac4ca;
  padding: 5px 0 5px 0;
}

.text-quote {
  font-size: 28px;
  line-height: 120%;
}

.text-light {
  color: #9a9a9a;
}

.text-copyright {
  padding-top: 250px;
}

.bars {
  display: none;
  color: #9a9a9a;
}

p {
  font-size: 16px;
  line-height: 140%;
}

/* STRUCTURE SECTION */
li {
  display: inline;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #222629;
}

a:hover,
a:active {
  color: #4ac4ca;
}

a.selected:link,
a.selected:active,
a.selected:hover,
a.selected:visited {
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.large-container {
  width: 80%;
  margin: auto;
}

.small-container,
.hero-container {
  width: 50%;
  margin: auto;
}

.header {
  position: fixed;
  background-color: #fff;
  height: 60px;
  width: 100%;
}

.logo {
  flex-basis: 50%;
  padding-left: 20px;
  color: #4ac4ca;
  cursor: pointer;
}

.nav {
  flex-basis: 50%;
}

.nav a {
  padding: 21px 15px 21px 15px;
}

.hero {
  padding-top: 250px;
  color: #fff;
  background: #4ac4ca; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(135deg, #4ac4ca, #2754a7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(135deg, #4ac4ca, #2754a7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(135deg, #4ac4ca, #2754a7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(135deg, #4ac4ca, #2754a7); /* Standard syntax */
  background-size: 100%;
  min-height: 100vh;
}

.view-portfolio-header {
  background-color: #4ac4ca;
  margin: auto;
  padding: 15px;
  width: 30%;
  cursor: pointer;
}

.portfolio {
  background-color: #fafafa;
  padding: 40px;
  min-height: 95vh;
}

.portfolio ul {
  padding: 30px 30px 30px 0;
}

.portfolio li {
  padding: 10px 15px 10px 15px;
  margin-right: 15px;
}

.portfolio a {
  color: #fff;
}

.projects {
  align-items: flex-start;
}

.feature-block {
  flex-basis: 48%;
  padding: 20px 0 20px 0;
}

.resume {
  background-color: #e9e9e9;
  padding: 40px;
  min-height: 95vh;
}

.resume-row {
  align-items: flex-start;
  background-color: #fafafa;
  padding: 30px 0 30px 0;
  margin-bottom: 20px;
  box-shadow: 0 0 1em #d7d7d7;
}

.resume-icon {
  flex-basis: 20%;
  color: #e9e9e9;
  margin-bottom: 20px;
}

.resume-content {
  flex-basis: 80%;
}

.about {
  background-color: #fafafa;
  padding: 40px;
  min-height: 95vh;
}

.about-row {
  align-items: flex-start;
}

.about-image {
  flex-basis: 30%;
  padding-top: 20px;
}

.about-description {
  flex-basis: 66%;
  padding-top: 20px;
}

.contact {
  background: #4ac4ca; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(135deg, #4ac4ca, #2754a7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(135deg, #4ac4ca, #2754a7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(135deg, #4ac4ca, #2754a7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(135deg, #4ac4ca, #2754a7); /* Standard syntax */
  background-size: 100%;
  color: #fff;
  padding: 40px;
  min-height: 95vh;
}

.contact ul {
  padding: 30px;
}

.contact li {
  display: block;
  padding: 20px 15px 20px 15px;
  margin: 15px;
}

.footer {
  background: #fff;
  padding: 15px;
}

.footer p {
  color: #222629;
  font-size: 12px;
}

/* COMPONENTS SECTION */

.small-button {
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  color: #222629;
  cursor: pointer;
}

.small-button:hover {
  background-color: #4ac4ca;
  color: #fff;
  cursor: pointer;
}

.selected {
  background-color: #4ac4ca;
  color: #fff;
  cursor: pointer;
}

.project-button {
  font-size: 13px;
  background-color: #c8c8c8;
  color: #fff;
  cursor: pointer;
}

.project-button:hover {
  background-color: #4ac4ca;
  color: #fff;
  cursor: pointer;
}

.contact-button {
  font-size: 13px;
  background-color: #4ac4ca;
  color: #fff;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #c8c8c8;
  color: #fff;
  cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 1200px) {
  .small-container {
    width: 80%;
    margin: auto;
  }

  .hero-container {
    width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .text-hero {
    font-size: 40px;
    text-align: center;
    padding: 10px;
  }

  .text-hero-sub {
    font-size: 24px;
    text-align: center;
  }

  .row {
    align-items: flex-start;
  }

  .logo {
    flex-basis: 100%;
    padding-top: 18px;
    color: #4ac4ca;
    display: inline;
  }

  .view-portfolio-header {
    background-color: #4ac4ca;
    margin: auto;
    padding: 15px;
    width: 40%;
    cursor: pointer;
  }

  .nav {
    flex-basis: 100%;
    text-align: right;
  }

  .nav a {
    display: none;
  }

  .bars {
    display: inline;
    text-align: right;
    padding-right: 20px;
    cursor: pointer;
    float: right;
  }

  .nav.responsive a {
    display: block;
    text-align: center;
  }

  .nav.responsive ul {
    margin-top: 16px;
    background-color: #d7d7d7;
  }

  .large-container,
  .small-container {
    width: 95%;
    margin: auto;
  }

  .hero-container {
    width: 80%;
    margin: auto;
  }

  .feature-block {
    flex-basis: 100%;
    padding: 20px 0 20px 0;
  }

  .about-image,
  .about-description {
    flex-basis: 100%;
    padding-top: 20px;
  }

  .resume-icon {
    flex-basis: 100%;
    color: #e9e9e9;
  }

  .resume-content {
    flex-basis: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  p {
    font-size: 14px;
    line-height: 140%;
  }

  .text-hero {
    font-size: 28px;
    text-align: center;
    padding: 10px;
  }

  .text-hero-sub {
    padding-bottom: 100px;
    font-size: 20px;
    text-align: center;
  }

  .text-copyright {
    padding-top: 130px;
  }

  .text-quote {
    font-size: 20px;
    line-height: 120%;
  }

  .row {
    align-items: flex-start;
  }

  .logo {
    flex-basis: 100%;
    padding-top: 18px;
    color: #4ac4ca;
    display: inline;
  }

  .hero {
    padding-top: 150px;
  }

  .view-portfolio-header {
    background-color: #4ac4ca;
    margin: auto;
    padding: 15px;
    width: 50%;
    cursor: pointer;
  }

  .nav {
    flex-basis: 100%;
    text-align: right;
  }

  .nav a {
    display: none;
  }

  .bars {
    display: inline;
    padding-right: 20px;
    cursor: pointer;
  }

  .nav.responsive a {
    display: block;
    text-align: center;
  }

  .nav.responsive ul {
    margin-top: 16px;
    background-color: #d7d7d7;
  }

  .large-container,
  .small-container {
    width: 95%;
    margin: auto;
  }

  .feature-block {
    flex-basis: 100%;
    padding: 20px 0 20px 0;
  }

  .about-image,
  .about-description {
    flex-basis: 100%;
    padding-top: 20px;
  }

  .resume-icon {
    flex-basis: 100%;
    color: #e9e9e9;
  }

  .resume-content {
    flex-basis: 100%;
    text-align: center;
  }
}
