/*
bright blue: #4ac4ca
dark blue: #2c828f
charcoal: #222629
dark grey: #474B4F
light grey: #6b6e70
almost white: #e9e9e9
pretty white: #fafafa
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  color: #222629;
}

img, embed, object, video {
  max-width: 100%;
  max-height: 100%;
}

/* VISUAL STYLES SECTION */

.text-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-logo {
  font-size: 24px;
}

.text-nav {
  font-size: 13px;
  text-align: right;
}

.text-hero {
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

.text-hero-sub {
  font-size: 30px;
  text-align: center;
}

.text-section-header {
  font-size: 24px;
  padding: 20px;
}

.text-info-title {
  font-size: 20px;
  color: #4ac4ca;
  padding: 5px 0 5px 0;
}

.bars {
  display: none;
}

p {
  font-size: 16px;
  line-height: 140%;
}

/* STRUCTURE SECTION */
li {
  display: inline;
}

a {
  text-decoration: none;
}

a:link {
  color: #222629;
}

a:visited {
  color: #222629;
}

a:hover {
  color: #4ac4ca;
}

a:active {
  color: #4ac4ca;
}

a.selected:visited {
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.large-container {
  width: 70%;
  margin: auto;
}

.small-container {
  width: 50%;
  margin: auto;
}

.header {
  position: fixed;
  background-color: #fff;
  height: 60px;
  width: 100%;
}

.logo {
  flex-basis: 50%;
  padding-left: 20px;
  color: #4ac4ca;
}

.nav {
  flex-basis: 50%;
}

.nav a {
  padding: 21px 15px 21px 15px;
}

.hero {
  background-color: #222629;
  padding-top: 210px;
  padding-bottom: 150px;
  color: #fff;
  background: #4ac4ca; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(135deg, #4ac4ca, #2754a7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(135deg, #4ac4ca, #2754a7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(135deg, #4ac4ca, #2754a7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(135deg, #4ac4ca, #2754a7); /* Standard syntax */
  background-size: 100%;
}

.portfolio {
  background-color: #fafafa;
  padding: 40px;
  min-height: 100vh;
}

.portfolio ul {
  text-align: center;
  padding-bottom: 30px;
}

.feature-block {
  flex-basis: 48%;
  padding: 20px 0 20px 0;
}

.resume {
  background-color: #e9e9e9;
  padding: 40px;
  min-height: 100vh;
}

.resume-row {
  align-items: flex-start;
  background-color: #fafafa;
  padding: 30px 0 30px 0;
  margin-bottom: 20px;
  box-shadow: 0 0 1em #d7d7d7;
}

.resume-icon {
  flex-basis: 20%;
  color: #e9e9e9;
}

.resume-content {
  flex-basis: 80%;
}

.resume ul {
  text-align: center;
  padding-bottom: 30px;
}

ul.joblist {
  text-align: left;
  list-style: circle;
  margin: 10px 0 0 20px;
}

.joblist li {
  display: block;
  display: list-item;
  font-size: 14px;
  line-height: 140%;
}

.about {
  background-color: #fafafa;
  padding: 40px;
  min-height: 100vh;
}

.contact {
  background-color: #e9e9e9;
  padding: 40px;
  min-height: 100vh;
}

.footer {
  background-color: #222629;
  color: #fff;
  height: 50px;
}

.copyright {
  font-size: 12px;
}

/* COMPONENTS SECTION */

.small-button {
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  color: #222629;
  cursor: pointer;
}

.small-button:hover {
  background-color: #4ac4ca;
  color: #fff;
  cursor: pointer;
}

.selected {
  background-color: #4ac4ca;
  color: #fff;
  cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 1200px) {
  .large-container {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    align-items: flex-start;
  }

  .logo {
    flex-basis: 70%;
    padding-top: 18px;
    color: #4ac4ca;
  }

  .nav {
    padding-top: 14px;
    flex-basis: 30%;
    text-align: right;
  }

  .nav a {
    display: none;
  }

  .bars {
    display: inline;
    padding-right: 20px;
    cursor: pointer;
  }

  .nav.responsive a {
    display: block;
    text-align: center;
  }

  .nav.responsive ul {
    margin-top: 16px;
    background-color: #d7d7d7;
  }

  .large-container {
    width: 90%;
    margin: auto;
  }

  .small-container {
    width: 90%;
    margin: auto;
  }

  .feature-block {
    flex-basis: 100%;
    padding: 20px 0 20px 0;
  }

  .resume-icon {
    flex-basis: 100%;
    color: #e9e9e9;
  }

  .resume-content {
    flex-basis: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    align-items: flex-start;
  }

  .logo {
    flex-basis: 70%;
    padding-top: 18px;
    color: #4ac4ca;
  }

  .nav {
    padding-top: 14px;
    flex-basis: 30%;
    text-align: right;
  }

  .nav a {
    display: none;
  }

  .bars {
    display: inline;
    padding-right: 20px;
    cursor: pointer;
  }

  .nav.responsive a {
    display: block;
    text-align: center;
  }

  .nav.responsive ul {
    margin-top: 16px;
    background-color: #d7d7d7;
  }

  .large-container {
    width: 90%;
    margin: auto;
  }

  .small-container {
    width: 90%;
    margin: auto;
  }

  .feature-block {
    flex-basis: 100%;
    padding: 20px 0 20px 0;
  }

  .resume-icon {
    flex-basis: 100%;
    color: #e9e9e9;
  }

  .resume-content {
    flex-basis: 100%;
    text-align: center;
  }
}
